
ul {
  list-style-type: none;
  font-size: 0;
  width: 350px;
}

li {
  font-size: 15px;
  line-height: 100%;
  padding: 20px 10px;
}

input[type="checkbox"] {
  cursor: pointer;
}

li:nth-child(even) {
  background-color: rgb(250, 250, 250);
}

li:nth-child(odd) {
  background-color: rgb(202, 200, 218);
}

li.marked {
  font-weight: 'bold';
  color: black;
}

li.unmarked {
  color: gray;
}

button.blocks {
  background-color: rgb(102, 69, 126);
  color: white;
  margin-bottom: 20px;
}

button.collapsible {
  background-color: rgb(157, 153, 185);
  color: rgb(228, 228, 228);
  text-transform: uppercase;
  font-weight: bold;
  padding: 18px;
  width: 350px;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
  margin-left: 40px;
}

.list {
  margin-bottom: 20px;
}

div.error {
  text-align: center;
  background-color: red;
  color: white;
  font-weight: bold;
  width: 100%;
  margin-bottom: 20px;
}


